################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Properties
/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/obj/Debug/AdventOfCode2017.pdb
/obj/Debug/AdventOfCode2017.exe
/obj/Debug/AdventOfCode2017.csprojResolveAssemblyReference.cache
/obj/Debug/AdventOfCode2017.csproj.FileListAbsolute.txt
/obj/Debug/AdventOfCode2017.csproj.CoreCompileInputs.cache
/obj/Debug
/bin/Debug/AdventOfCode2017.pdb
/bin/Debug/AdventOfCode2017.exe.config
/bin/Debug/AdventOfCode2017.exe
/bin/Debug
